<% layout( 'layout' ) -%>

    <style>
        strong {
            font-weight: bold
        }
    </style>

    <div class="patch-header">
        <!-- <img class="snyk-patch" src="/public/images/snyk_patch.jpeg" /> -->
        <svg data-v-a35fa28b="" data-v-d46b8e01=""
            class="snyk-logo snyk-logo--color-light snyk-logo--default core-app__snyk-logo"
            xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="168.95" height="80.26" viewBox="0 0 337.9 160.52">
            <path data-v-a35fa28b="" fill="#ffffff"
                d="M304.87 89.32h-1.29v22.29h-16v-55.5l16-25.02v51.78c3.19-3.9 13.92-18.72 13.92-18.72h19.76l-18.73 19.82 19.38 27.67H317.7l-12.83-22.32zm-44.6-3.64 6.56-21.38h15.85l-18.58 47.15c-5.54 14.18-13.46 23.77-25.3 23.77-4.55 0-8.38-1.18-10.39-2.31l6.37-9.86c.95.11 1.93.15 2.92.15 5.46 0 9.56-5.31 12.21-11.6l-19.49-47.3h17.94l7.02 21.11c1.37 4.02 2.35 11.67 2.35 11.67s1.25-7.38 2.54-11.4zm-48.36-1.1c0-6.18-2.73-9.1-7.93-9.1-2.54 0-5.2.72-7.02 1.82v34.3h-16V64.76l15.66-1.29-.38 7.66h.53c3.38-4.55 9.1-8 15.93-8 8.19 0 15.28 5.08 15.28 17.09v31.39H211.9V84.58zm-76.75 24.6 1.44-10.92c5.01 2.46 10.66 3.64 15.4 3.64 3.45 0 5.73-1.18 5.73-3.26 0-5.99-21.58-4.55-21.58-20.2 0-10.01 9.18-15.28 20.67-15.28 5.73 0 11.64 1.55 15.47 2.92l-1.55 10.73c-4.02-1.55-9.48-2.99-14.03-2.99-2.81 0-5.08.99-5.08 2.8 0 5.91 22.03 4.74 22.03 20.01 0 10.16-9.03 16-21.39 16-6.84 0-12.37-1.17-17.11-3.45z">
            </path>
            <g data-v-a35fa28b="">
                <path fill="#ffffff"
                    d="M87.2 40.96a26.63 26.63 0 0 1 1.5 7.34v.78l-5.47 14.61c1.27 11.54 2.47 25.79 1.13 29.24-.66 1.69-2.64 4.75-5.87 9.06l3.5 32.38 13.86-9.93a5.449 5.449 0 0 0 2.28-4.45V47.95c0-1.19-.38-2.34-1.1-3.29a5.47 5.47 0 0 0-2.86-1.97c-1.72-.5-4.08-1.11-6.97-1.73zM40.96 48.34a31.476 31.476 0 0 1 20.07 0l1.68-2.76 1.12-7.81s-7.81-.41-12.77-.41c-4.6 0-8.9.16-12.89.43l1.13 7.81 1.66 2.74zM17.55 92.92c-1.33-3.42-.13-17.7 1.13-29.24l-5.43-14.61v-.78c.15-2.5.65-4.97 1.49-7.33-2.89.63-5.24 1.23-7.03 1.73a5.47 5.47 0 0 0-2.86 1.97c-.71.95-1.1 2.1-1.1 3.29v72.04c0 .87.21 1.73.61 2.5s.98 1.44 1.68 1.95l13.92 9.97 3.5-32.35c-3.24-4.35-5.24-7.43-5.91-9.14z"
                    data-v-a35fa28b=""></path>
                <path fill="#ffffff"
                    d="M70.57 11.82c.07 0 .14.02.2.05a.4.4 0 0 1 .14.15l1.84 3.43c4.93 9.17 13.28 26.4 13.28 32.82v.3l-5.47 14.76v.24c1.71 15.52 2.21 26.12 1.34 28.37-.78 2-3.84 6.25-6.45 9.67l3.79 30.89-2.28 1.63-22.8 16.34a5.505 5.505 0 0 1-6.38 0l-18.44-13.28-2.81-2.01-3.74-2.68 3.75-30.83c-2.6-3.42-5.72-7.73-6.5-9.74-.88-2.24-.38-12.85 1.34-28.37v-.24l-5.47-14.75v-.3c0-6.44 8.34-23.67 13.28-32.82l1.84-3.43a.4.4 0 0 1 .14-.15c.06-.04.13-.05.2-.05.1 0 .19.03.26.09s.12.15.13.24l4.93 34.38 3.06 5.02.78-.26a34.09 34.09 0 0 1 10.44-1.91c3.57.1 7.11.74 10.49 1.91l.78.25 3.01-5.01 4.92-34.38c.01-.09.06-.18.13-.24.09-.06.18-.09.27-.09zm0-3.12c-.85-.01-1.67.3-2.31.85-.64.56-1.06 1.32-1.17 2.16l-4.84 33.72-1.45 2.34c-3.2-.97-6.51-1.49-9.85-1.56-3.33.06-6.63.58-9.81 1.56l-1.45-2.34-4.84-33.72c-.11-.84-.53-1.61-1.17-2.17-.64-.56-1.46-.86-2.31-.85-.64 0-1.27.17-1.82.49-.55.33-1 .8-1.31 1.36l-1.84 3.43c-2.28 4.24-13.64 25.79-13.64 34.31v.86l.2.53 5.23 14.07C16.37 80.4 16 90.27 17.1 93.09c.27.68 1.04 2.67 6.16 9.49l-3.6 29.58-.22 1.84 1.51 1.08 3.74 2.68 2.8 2.01 18.45 13.22a8.57 8.57 0 0 0 5.01 1.61c1.8 0 3.55-.56 5.01-1.61l22.78-16.32 2.28-1.63 1.5-1.08-.22-1.84-3.61-29.61c5.06-6.74 5.85-8.73 6.1-9.38 1.1-2.83.73-12.71-1.09-29.35l5.23-14.07.2-.53v-.86c0-8.53-11.36-30.09-13.64-34.32l-1.84-3.42c-.3-.56-.75-1.03-1.31-1.36-.55-.33-1.18-.5-1.82-.49l.05-.03z"
                    data-v-a35fa28b=""></path>
                <path fill="#ffffff"
                    d="m28.82 96.72 6.7-1.95a.8.8 0 0 0 .37-.23l6.4-7.29c.1-.12.24-.2.39-.24.15-.04.31-.03.46.02.15.05.28.14.37.27.09.12.15.27.15.43l1.11 20.9a.81.81 0 0 1-.13.48c-.45.65-1.73 2.63-1.73 3.85 0 1.56 2.34 3.61 4.58 5.24.03-.07.05-.13.09-.2.78-1.42 1.84-1.68 2.34-.59.17.81.23 1.64.18 2.46h.04v1.92c0 .12-.03.24-.08.34-.41.84-2.41 4.42-6.7 4.42-1.83 0-6.32-.59-8.33-6.08-2.48-6.81-2.51-16.33-2.51-16.73v-.66l-.41-.51c-1.07-1.32-2.34-2.95-3.66-4.69a.789.789 0 0 1-.13-.33.69.69 0 0 1 .03-.35c.04-.11.1-.22.18-.3.08-.07.18-.14.29-.18zM69.98 102.61l-.41.51v.66c0 .4 0 9.92-2.51 16.73-2.01 5.47-6.5 6.08-8.33 6.08-4.28 0-6.25-3.57-6.7-4.42a.808.808 0 0 1-.08-.34v-1.92c-.05-.83.01-1.65.19-2.46.47-1.09 1.51-.84 2.34.59 0 .06.05.13.09.2 2.27-1.63 4.58-3.68 4.58-5.24 0-1.22-1.28-3.2-1.73-3.85a.81.81 0 0 1-.13-.48l1.11-20.9c.01-.16.06-.3.16-.43.09-.12.22-.22.37-.27.15-.05.31-.06.46-.02s.29.12.39.24l6.4 7.29c.09.11.22.2.37.23l6.69 1.95c.12.04.23.1.33.19.09.09.16.2.2.32.04.12.05.25.03.38-.02.13-.07.24-.15.35-1.32 1.68-2.6 3.29-3.67 4.61zM36.86 80.68c-.04.28-.18.54-.39.73-.21.19-.49.29-.77.3.11.48.4.91.8 1.19.41.28.91.4 1.4.33.32-.04.62-.17.88-.36.26-.19.46-.45.6-.74.2-.43.24-.92.1-1.38-.14-.46-.43-.85-.84-1.1h3.27c.02 0 .05.01.07.03.02.02.03.04.03.07.03.6-.06 1.19-.27 1.75-.21.56-.53 1.07-.94 1.51-.41.43-.9.78-1.45 1.02-.55.24-1.14.36-1.73.37-.6.01-1.19-.11-1.74-.34-.55-.23-1.05-.57-1.47-1-.42-.43-.74-.94-.96-1.49-.22-.56-.32-1.15-.3-1.75v-.16h3.41-.05c.14.13.24.3.3.48.07.15.08.35.05.54zM63.65 80.68c-.04.28-.18.54-.39.73-.21.19-.49.29-.77.3.11.48.4.91.8 1.19.41.28.91.4 1.4.33.32-.04.62-.17.88-.36.26-.19.46-.45.6-.74.2-.43.24-.92.1-1.38-.14-.46-.43-.85-.84-1.1h3.27c.02 0 .05.01.07.03.02.02.03.04.03.07.03.6-.06 1.19-.27 1.75-.21.56-.53 1.07-.94 1.51s-.9.78-1.45 1.02c-.55.24-1.14.36-1.73.37-.6.01-1.19-.11-1.74-.34-.55-.23-1.05-.57-1.47-1-.42-.43-.74-.94-.96-1.49-.22-.56-.32-1.15-.3-1.75v-.16h3.41-.05c.14.13.24.3.3.48.07.15.08.35.05.54zM34.7 76.17c-.11 0-.22-.02-.33-.07-.1-.05-.19-.12-.27-.2-.98-1.15-3.91-5.01 1.16-5.01 3.8 0 6.8 2.3 8.47 3.95a.778.778 0 0 1-.13 1.2c-.13.09-.28.13-.43.13H34.7zM58.75 76.17c-.15 0-.31-.04-.43-.13a.764.764 0 0 1-.29-.35.772.772 0 0 1 .16-.85c1.67-1.66 4.69-3.95 8.48-3.95 5.06 0 2.14 3.86 1.16 5.01-.07.09-.16.15-.27.2-.1.05-.21.07-.33.07h-8.48z"
                    data-v-a35fa28b=""></path>
                <path fill="#ffffff"
                    d="M58.66 129.58c-.53 0-1.05-.06-1.56-.19a.697.697 0 0 0-.43.04c-.14.05-.26.15-.35.27-.6.85-1.39 1.55-2.31 2.03-.92.48-1.95.73-2.99.73-1.04 0-2.07-.25-2.99-.73a6.358 6.358 0 0 1-2.31-2.03.774.774 0 0 0-.35-.27.736.736 0 0 0-.44-.04c-.48.12-.98.17-1.48.17H43c-.14-.01-.28.02-.41.08s-.23.16-.31.28c-.08.12-.12.26-.12.4s.03.28.1.4a9.888 9.888 0 0 0 3.67 3.84c1.55.93 3.32 1.42 5.12 1.42 1.8 0 3.57-.49 5.12-1.42 1.55-.93 2.81-2.25 3.67-3.84.07-.12.1-.26.1-.4s-.05-.28-.12-.39a.778.778 0 0 0-.71-.36l-.45.01zm-5.54-8.75c.55.19 1.08.45 1.56.78-.5-.8-1.12-1.08-1.56-.78zm-5.7.69c.46-.3.95-.54 1.47-.71-.42-.25-.98-.03-1.47.75v-.04zM48.65 119.21c-.58.19-1.12.45-1.63.78.55-.78 1.16-1.08 1.63-.78zM55.12 120.11c-.54-.37-1.13-.67-1.76-.89.49-.34 1.18 0 1.76.89z"
                    data-v-a35fa28b=""></path>
                <path fill="#ffffff"
                    d="M47.9 128.44c-.07 0-.13.02-.18.05-.05.04-.09.09-.12.15a.31.31 0 0 0-.01.19c.02.06.05.12.1.16.94.72 2.09 1.12 3.27 1.11 1.18 0 2.33-.39 3.27-1.1.05-.04.08-.1.1-.16a.31.31 0 0 0-.01-.19.327.327 0 0 0-.11-.15.3.3 0 0 0-.18-.06H47.9zM21.33 46.16c.3-3.13 3.21-10.07 6.25-16.37a.61.61 0 0 1 .66-.34c.13.02.25.08.35.18.09.1.15.22.17.35l.6 4.14c.01.06.01.12 0 .18-.35 2.34-1.77 10.47-5.4 16.18-.06.1-.15.18-.26.23-.11.05-.22.07-.34.06a.607.607 0 0 1-.32-.13.63.63 0 0 1-.2-.28l-1.46-3.91a.836.836 0 0 1-.05-.29zM78.11 50.49c-3.63-5.71-5.05-13.86-5.39-16.18a.544.544 0 0 1 0-.18l.59-4.14c.02-.13.08-.26.17-.35.09-.1.22-.16.35-.18a.61.61 0 0 1 .66.34c3.02 6.31 5.94 13.21 6.25 16.37.02.09.02.19 0 .28l-1.45 3.91c-.03.13-.1.24-.2.32-.1.09-.22.14-.35.15a.665.665 0 0 1-.37-.07.676.676 0 0 1-.26-.27z"
                    data-v-a35fa28b=""></path>
            </g><!----><!----><!---->
        </svg>
        <h1 id="page-title">
            <%= title %>
        </h1>
    </div>
    <div class="about">

        <div>
            <h1>The BESTest todo app evar</h1>
        </div>

        <div class="btn_return">
            <a href="/">Return</a>
        </div>
    </div>