<!DOCTYPE html>
<html>

<head>
  <title>
    🐾 <%= title %>
  </title>
  <link rel='stylesheet' href='/public/css/screen.css' />
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="icon" href="https://learn.snyk.io/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

</head>

<body>
  <div id="layout">
    <%- body %>
      <div id="layout-footer"></div>
  </div>
  <div id="footer-wrap">

    <form ref='uploadForm' id='uploadForm' action='/import' method='post' encType="multipart/form-data">
      <input type="file" name="importFile" />
      <input type='submit' value='Import!' />
    </form>
    <button class="button-primary"><a href="/about/">About</a></button>
  </div>
  <script>
    const goHome = document.getElementById("goHome");
    goHome.addEventListener("click", () => {
      window.location.href = "/";
    });
    goHome.style.cursor = "pointer";
    document.addEventListener("DOMContentLoaded", function () {
      document.getElementById("input-focus").focus();
    });
  </script>
</body>

</html>